.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  background-color: #f2f2f2;
}

.logo {
  width: 154px;
  height: 31px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
}

.header__title {
  width: 730px;
  margin: auto right;
  left: 64px;
  z-index: 2;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  align-items: center;
  position: absolute;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 40px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 3;
}

.header__link {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
  color: #2f80ed;
  text-decoration: none;
}

.main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.description {
  margin: 100px auto;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 30px;
  width: 80%;
}

.brief {
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  font-weight: bold;
}

.main-text-one {
  margin-bottom: 30px;
}

.main-text-two {
  margin-bottom: 30px;
}

.digits {
  margin: 100px auto;
}

.digits__title {
  width: 60%;
  padding-bottom: 20px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.digits__subtitle {
  width: 60%;
  padding-bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.digits__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
  position: relative;
}

.table__heading {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-bottom {
  margin-top: 20px;
}

.feynman {
  margin: 40px;
  height: 790px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
  background-position: bottom left;
}

.feynman__title {
  width: 775px;
  text-align: center;
  margin: auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  padding-top: 100px;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 60%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman {
  background-color: #1f1f1f;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.kaufman-title_theme_dark {
  color: white;
  width: 60%;
  padding-bottom: 20px;
  padding-top: 90px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  position: relative;
  z-index: 2;
}

.kaufman-subtitle_theme_dark {
  color: white;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: auto;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px 0 90px;
  position: relative;
}

.table__heading_theme_dark {
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 2;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  size: 660px 636px;
  right: -124px;
  z-index: 1;
  top: 0;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  position: relative;
  width: 90%;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: auto;
}

.footer__column_content_copyright {
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  flex-direction: column;
}

.logo_place_footer {
  size: 183px 35px;
  top: 0;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  padding-top: 18px;
  padding-bottom: 18px;
}

.footer__column_content_about {
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.footer__list {
  padding: 0;
}

.footer__list-item {
  list-style-type: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  color: white;
  text-decoration: none;
}

.footer__column_conent_social {
  flex-direction: column;
  display: flex;
}

.footer__social-icons {
  size: 16px 16px;
}
